@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Mulish&display=swap');
*{
	box-sizing: border-box;
}
body{
	margin: 0px;
	padding: 0px;
}
hr{
	margin: 0px;
}
a{
	text-decoration: none;
	font-family: Mulish;
	font-size: 16px;
	font-weight: 400;
	color: white;
}
p{
	margin: 0px;
}
h1{
	color: white;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 49px;
	line-height: 59.73px;
}
h2{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
}
ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.landing{
	background-color: #141516;
	padding: 0% 5%;
}
.navbar{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 15%;
	padding-top: 24px;
}
.nav-links{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-btns{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 100px;
}
.btn-primary{
	display: flex;
	background-color: #006AFF;
	width: 165px;
	height: 46px;
	align-items: center;
	justify-content: center;
	border-radius: 37px;
}
.banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
}
.banner-text{
	max-width: fit-content;
}
.banner-text p {
	font-family: Mulish;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
}
.banner-btns{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 50px;
}
.banner-btns a:first-child{
	margin-right: 30px;
}
.btn-secondary{
	display: flex;
	width: 165px;
	height: 46px;
	align-items: center;
	justify-content: center;
	border: 1px solid #FFFFFF;
	border-radius: 37px;
}
.banner-img{
	background: url(img/Big.png);
	width: 543px;
	height: 362px;
	position: relative;
}
.banner-small{
	position: absolute;
	right: 403px;
	top: 104px;
}
.live-btn{
	position: absolute;
	background-color: white;
	display: flex;
	align-items: center;
	width: 75px;
	height: 30px;
	border-radius: 15px;
	justify-content: center;
	top: -19px;
	right: -18px;
}
.footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 170px;
	padding-bottom: 70px;
}
.platform{
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-row-gap: 119px;
	margin-bottom: 132px;
}
.header{
	display: grid;
	justify-content: center;
	text-align: center;
	margin-top: 106px;
}
.header h2{
	color: #141516;
	margin: 0px;
}
.header p{
	margin: 0px;
	margin-top: 14px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #141516;
}
.header .banner-btns{
	justify-content: center;
	margin-top: 51px;
}
.header .banner-btns a:last-child{
	color: #141516;
	border: 1px solid #141516;
}
.featurs{
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 74px;
	grid-column-gap: 115px;
	margin: 0% 5%;
}
.featur h3{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #141516;
	margin: 0px;
}
.featur p{
	margin: 0px;
	margin-top: 14px;
	font-family: Mulish;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #141516;
}
.icone{
	margin-right: 13px;
}
.help{
	background-color: #141516;
	padding: 0% 5%;
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-row-gap: 82px;
}
.help-title{
	margin: 0px;
	margin-top: 61px;
	padding: 0px;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	color: #FFFFFF
}
.help-grid{
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-row-gap: 236px;
}
.help-rows{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.help-text h3{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	color: #FFFFFF;
}
.help-text p{
	max-width: 441px;
	margin: 0px;
	margin-top: 26px;
	padding: 0px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
}
.getstarted-btn{
	display: flex;
	align-items: center;
	margin: 0px;
	padding: 0px;
	margin-top: 26px;
}
.getstarted-btn span{
	margin-left: 12px;
}
.hepl-img{
	position: relative;
	margin: 0px;
	padding: 0px;
}
.price{
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-rows: repeat(3, auto);
	position: absolute;
	padding: 0px;
	margin: 0px;
	right: 62.5%;
	bottom: 39%;
	width: 262px;
	height: 261px;
	background-color: #FFFFFF;
	border-radius: 27px;
}
.donate{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 11px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #141516;
	align-items: center;
	background: #F5F5F5;
	border-radius: 12px;
	width: 188px;
	height: 53px;
}
.price a:nth-child(2n){
	color: #006AFF;
	background: #F5F5F5;
	background: rgba(0, 106, 255, 0.1);
	box-shadow: -9px 13px 6px rgba(172, 172, 172, 0.15);
}
.mail-notif{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: white;
	width: 64px;
	height: 53px;
	border-radius: 12px;
	top: -20px;
	right: -15px;
}
.mail-notif::after{
	font-family: sans-serif;
	color: white;
	top: 10%;
	right: 13%;
	position: absolute;
	content: '1';
	width: 16px;
	height: 16px;
	background-color: #006AFF;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid white;
}
.help-footer{
	display: grid;
	justify-content: center;
	margin-top: 229px;
	margin-bottom: 167px;
}
.help-footer h2{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	color: #FFFFFF;
}
.help-footer p{
	margin: 0px;
	margin-top: 14px;
	padding: 0px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
}
.footer-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 55px;
}
.footer-getstarted{
	display: flex;
	color: #141516;
	background-color: #FFFFFF;
	width: 165px;
	height: 46px;
	align-items: center;
	justify-content: center;
	border-radius: 37px;
	margin-right: 30px;	
}
.help-img{
	display: flex;
	justify-content: center;
	position: relative;
	background: url(img/cuisine-big.png);
	width: 790.37px;
	height: 526.91px;
	margin-top: 90px;
}
.help-img img{
	position: absolute;
	right: 586px;
	top: 151.38px;
}
.live-slide{
	margin-top: 98px;
	display: grid;
	grid-row-gap: 30px;
}
.live-text{
	text-align: center;
}
.live-text h2{
	margin: 0px;
	margin-top: 133px;
	padding: 0px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	color: #141516;
}
.live-text p{
	margin: 0px;
	padding: 0px;
	margin-top: 14px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #141516;
}
.slide-row{
	display: flex;
	overflow: hidden;
	flex column-gap: 24px;
}
.slide-row img{
	margin-right: 24px;
	width: 360px;
	height: 201px;
	border-radius: 27px;
}
.slide-row img:last-child{
	margin-right: 0px;
}
.contact{
	margin-top: 200px;
	display: grid;
	padding: 0% 5%;
	padding-bottom: 56px;
	grid-template-columns: 1fr 1fr 2fr;
	grid-column-gap: 184px;
	justify-content: center;
	background-color: #E5E5E5;
	padding-top: 78px;
}
.contact p{
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #141516;
	margin-top: 20px;
}
.btn{
	margin-top: 20px;
}
.btn a:first-child{
	margin-right: 16px;
}
.small-title{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: justify;
color: #141516;
margin: 0px;
}
.info-icone{
	margin-right: 10px;
}
.forminput input{
	background: #FFFFFF;
	border: 1px solid #EFEFEF;
	border-radius: 13px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	display: flex;
	text-align: justify;
	color: #7C7C7C;
	padding-left: 18px;
}
.forminput{
	margin-top: 20px;
	display: grid;
	grid-template-rows: 1fr 1fr 2fr 1fr;
	grid-row-gap: 20px;
}
.form a{
	margin-top: 20px;
}
.copyrights{
	background-color: #E5E5E5;
}
.copyrights p{
	text-align: center;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: #141516;
	margin-top: 17px;
	padding-bottom: 17px;
}